{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Alameda PC Repair Guy - Quality Computer & Laptop Repair Service | Alameda, CA, 94501</title>
   <meta name="description" content="ALAMEDA COMPUTER REPAIR. Call 510-545-3046! AlamedaPCGuy.com | 100% GUARANTEED PRIVACY" />
   <meta name="keywords" content="pc repair, computer repair, alameda computer repair, oakland computer repair, fix my computer, remote pc repair, computer repair jobs, remote computer repair, hp laptop repair, laptop repair services, computer repair services, laptop repair service, build a new system, wifi home network, software hardware installation, virus trojan adware removal, backup, deleted file recovery, bay area computer repair" />

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'css/default.css' %}">
   <link rel="stylesheet" href="{% static 'css/layout.css' %}">
   <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
   <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
   <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#services">Services</a></li>
            <li><a class="smoothscroll" href="#price">Price</a></li>
            <li><a class="smoothscroll" href="#quote">Free Quote</a></li>
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Alameda PC Repair Guy</h1>
            <h3 class="intro-opening animated fadeInUp">
              <p>I am a <span>computer technician</span> and <span>consultant</span> in the <span>Bay Area (Alameda)</span>.</p>
                <p>I provide affordable service of PC repair and maintenance.</p>
                <p>I fix computers, install software, 
                upgrade hardware, setup wifi networks, and can offer advice on how to build new computers.</p>
                
                <p><a class="smoothscroll" href="#about">Click here to start scrolling to learn more about me</a> and <a class="smoothscroll" href="#services">the services I offer.</a>
                </p>
            </h3>

            <hr />
            <ul class="social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/106120987745424004938/about"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="images/profile.png" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>My name is Aaron. I was born into a generation that grew up with personal computers. Through years of hands-on experience, I have become a specialist in computer building and maintenance. I also have a Bachelor's Degree in Civil Engineering and have helpdesk experience with enterprise solutions such as Microsoft Active Directory and Exchange Management Console.</p>
            
            <p>What does this mean? If you are building a new computer, I can advise you on parts and prices so you get the most bang for your buck. If your current computer is too slow, I can optimize your software to make it run faster. If you have a virus, I can remove it without harm to your important documents and files.</p>

            <p>Bring your business to me. I think you will be impressed by the quality of my service.</p>

            <div class="row">
               <div class="columns contact-details">
                <h2>Contact Details</h2>
                  <p class="address">
						        <span>Alameda PC Repair Guy (Aaron)</span><br>
						        <span>(510) 545-3046</span><br>
                    <span><a href="mailto:pcrepairguy510@gmail.com">pcrepairguy510@gmail.com</a></span>
					        </p>
               </div>
            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="services">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Services</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>What can I do for you?</h3>
                  <p class="info">Here are examples of ways that I can help:</p>

                  <div class="bars">
                    <!-- class names have not been changed yet !-->
                    <ul class="skills">
                        <li><span class="bar-expand photoshop"></span><em>Data Recovery & Backup</em></li>
                        <li><span class="bar-expand illustrator"></span><em>Virus and Spyware Removal</em></li>
                        <li><span class="bar-expand wordpress"></span><em>Windows/Mac Installation Repair</em></li>
                        <li><span class="bar-expand css"></span><em>Windows Boot-up Errors and Crashes</em></li>
                        <li><span class="bar-expand html5"></span><em>Computer Cleaning and Optimization</em></li>
                        <li><span class="bar-expand jquery"></span><em>Wireless Network Configuration </em></li>
                     </ul>

                  </div><!-- end skill-bars -->

            </div> <!-- item end -->

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->

   </section> <!-- Resume Section End-->


      <!-- Work
      ----------------------------------------------- -->
   <section id="price">
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Price</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>How much will it cost?</h3>
                  <p class="info">$79 Fee, No Extra
                   Charges</p>

                  <p>My price is an affordable flat fee of $45, plus any travel expenses, if it is a on-site housecall (I personally come to your location to fix your machine). The alternative and preferred option would be to simply drop off your computer at my destination, in which no travel expenses will be charged. No additional hidden charges will be incurred.</p>

                  <p>Generally speaking, most issues are resolved within 1 to 2 hours. However, depending on the complexity of the issue, it may require up to 24 hours.</p>

                  <p>All files and information on your computer will be treated with the utmost respect in regards to your privacy. What you have on your computer is your business, not mine or anyone else's. I can also guarantee your privacy in writing if requested.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->

   </section> <!-- Work Section End-->


      <!-- Skills
      ----------------------------------------------- -->
   <section id="quote">
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Free Quote</span></h1>
         </div>

         <div class="nine columns main-col">
            <h3>Can you fix it?</h3>
            <p><b>CALL</b> or <b>TEXT</b> me at <b>510-545-3046</b>, tell me about your needs, and I will let you know whether or not I can resolve your issue.</p>

            <p>If I don't happen to answer right away, leave a voicemail message with your name and number, and I will get back to you as soon as I'm available.</p>

            <p>You can also email me AT <a href="mailto:pcrepairguy510@gmail.com">pcrepairguy510@gmail.com</a>. Please include a brief description of your computer problem or request.
            </p>

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Skills Section End-->



   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>My computer had picked up several viruses and was a mess. I contacted Norton for help….it took several hours on the phone with them ..only to say they couldn’t fix it and advised me to contact H.P. tech support. I went through the same with them with no results. After a few more hours on the phone they advised me to contact H.P. Parts Co. to purchase the rite disc to fix the problem. This had taken almost a week….Instead I called Aaron..dropped my computer off to him at lunch…picked it up the following day after work..and once again I am on-line! My dealings with Aaron were polite, informative and I am very happy to have called him. If I have any other problems with my P.C. I know who to call… Thank-you Aaron.
                           </p>
                           <cite>Gregory, Oakland</cite>
                        </blockquote>
                     </li>

                     <li>
                        <blockquote>
                           <p>I accidentally deleted my sound software while uninstalling programs. I was not able to find the software at the HP web site. I called Aaron and and had it working again really fast. He did such a good job I even had him install a wireless router. I am glad I had him install the wireless system because he was able to show me how he made it more secure. Now I can use my desktop and my laptop to securely surf the internet in my house.
                           </p>
                           <cite>Dorthy, Alameda</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>Our creaky old computer was finally grinding to a slow halt. Aaron was able to upgrade to a newer, faster computer with a total transfer of all our information. We were without our computer less than two days-our fingers didn’t have a chance to get all twitchy! Aaron's prices are affordable, his knowledge is impressive and the remote help is grand. I recommend his services without hesitation and I have already given his cards to several friends. Thanks, Aaron, for getting us back online so quickly. Now we can finish that Online transfer for another classic car.
                           </p>
                           <cite>Jean, Alameda</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->

   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/106120987745424004938/about"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2015</li>
               <li>AlamedaPCGuy.com</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>